In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/user/Downloads/seoul.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_6324\2124392064.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('C:/Users/user/Downloads/seoul.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489872 entries, 0 to 489871
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     489872 non-null  object
 1   상호명        489872 non-null  object
 2   지점명        9898 non-null    object
 3   상권업종대분류코드  489872 non-null  object
 4   상권업종대분류명   489872 non-null  object
 5   상권업종중분류코드  489872 non-null  object
 6   상권업종중분류명   489872 non-null  object
 7   상권업종소분류코드  489872 non-null  object
 8   상권업종소분류명   489872 non-null  object
 9   표준산업분류코드   489778 non-null  object
 10  표준산업분류명    489778 non-null  object
 11  시도코드       489872 non-null  int64
 12  시도명        489872 non-null  object
 13  시군구코드      489872 non-null  int64
 14  시군구명       489872 non-null  object
 15  행정동코드      489872 non-null  int64
 16  행정동명       489872 non-null  object
 17  법정동코드      489872 non-null  int64
 18  법정동명       489872 non-null  object
 19  지번코드       489872 non-null  int64
 20  대지구분코드     489872 non-null  int64
 21  대지구분명      489872 non-null  object
 22  지번본번지      489872 non-null  int64
 23  지번부번지      409619 non-null  float64
 24  지번주소       489872 non-null  object
 25  도로명코드      489872 non-null  int64
 26  도로명        489872 non-null  object
 27  건물본번지      489871 non-null  float64
 28  건물부번지      64627 non-null   float64
 29  건물관리번호     489842 non-null  object
 30  건물명        232664 non-null  object
 31  도로명주소      489872 non-null  object
 32  구우편번호      489872 non-null  int64
 33  신우편번호      489872 non-null  int64
 34  동정보        0 non-null       float64
 35  층정보        340085 non-null  object
 36  호정보        0 non-null       float64
 37  경도         489872 non-null  float64
 38  위도         489872 non-null  float64
dtypes: float64(7), int64(10), object(22)
memory usage: 145.8+ MB

In [4]:
data.dtypes

상가업소번호        object
상호명           object
지점명           object
상권업종대분류코드     object
상권업종대분류명      object
상권업종중분류코드     object
상권업종중분류명      object
상권업종소분류코드     object
상권업종소분류명      object
표준산업분류코드      object
표준산업분류명       object
시도코드           int64
시도명           object
시군구코드          int64
시군구명          object
행정동코드          int64
행정동명          object
법정동코드          int64
법정동명          object
지번코드           int64
대지구분코드         int64
대지구분명         object
지번본번지          int64
지번부번지        float64
지번주소          object
도로명코드          int64
도로명           object
건물본번지        float64
건물부번지        float64
건물관리번호        object
건물명           object
도로명주소         object
구우편번호          int64
신우편번호          int64
동정보          float64
층정보           object
호정보          float64
경도           float64
위도           float64
dtype: object

In [9]:
data.sample() # data.tail() # data.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
483804,MA010120220803559280,구주여행사,NaN,N1,시설관리·임대,N105,여행사·보조,N10501,여행사,N75210,...,1154510100104930000015625,대륭테크노타운5차,서울특별시 금천구 서부샛길 632,153774,8504,NaN,NaN,NaN,126.876252,37.480515

# indexing / slicing

In [10]:
dir(data)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs',
 '건물관리번호',
 '건물명',
 '건물본번지',
 '건물부번지',
 '경도',
 '구우편번호',
 '대지구분명',
 '대지구분코드',
 '도로명',
 '도로명주소',
 '도로명코드',
 '동정보',
 '법정동명',
 '법정동코드',
 '상가업소번호',
 '상권업종대분류명',
 '상권업종대분류코드',
 '상권업종소분류명',
 '상권업종소분류코드',
 '상권업종중분류명',
 '상권업종중분류코드',
 '상호명',
 '시군구명',
 '시군구코드',
 '시도명',
 '시도코드',
 '신우편번호',
 '위도',
 '지번본번지',
 '지번부번지',
 '지번주소',
 '지번코드',
 '지점명',
 '층정보',
 '표준산업분류명',
 '표준산업분류코드',
 '행정동명',
 '행정동코드',
 '호정보']

In [18]:
data.상호명

0             토끼정
1             카페숲
2             다이앤
3            숯불에닭
4          맑은에스테틱
           ...
489867     모아모아세탁
489868    지에스25강동
489869        런베이
489870        북카페
489871     봉구비어난곡
Name: 상호명, Length: 489872, dtype: object

In [20]:
data.select_dtypes(['object','float64'])

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물본번지,건물부번지,건물관리번호,건물명,도로명주소,동정보,층정보,호정보,경도,위도
0,MA010120220805430767,토끼정,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,55.0,NaN,1150010500107740012000001,마커스빌딩,서울특별시 강서구 마곡동로 55,NaN,2,NaN,126.833022,37.560053
1,MA010120220805430763,카페숲,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,129.0,NaN,1154510300109290010016890,NaN,서울특별시 금천구 시흥대로40길 129,NaN,1,NaN,126.909939,37.446689
2,MA010120220805430969,다이앤,NaN,G2,소매,G209,섬유·의복·신발 소매,G20902,여성 의류 소매업,G47412,...,13.0,NaN,1114016200107750000009546,제일평화시장,서울특별시 중구 마장로 13,NaN,1,NaN,127.011381,37.568503
3,MA010120220805431023,숯불에닭,NaN,I2,음식,I201,한식,I20110,닭/오리고기 구이/찜,I56111,...,60.0,NaN,1147010300109710004007555,NaN,서울특별시 양천구 지양로 60,NaN,1,NaN,126.834524,37.520990
4,MA010120220805431191,맑은에스테틱,NaN,S2,수리·개인,S208,욕탕·신체관리,S20802,마사지/안마,S96122,...,33.0,NaN,1121510500100480053015378,NaN,서울특별시 광진구 뚝섬로32길 33,NaN,1,NaN,127.066814,37.534047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489867,MA010120220804254954,모아모아세탁,NaN,S2,수리·개인,S209,세탁,S20901,세탁소,S96912,...,19.0,NaN,1171010400101630001011783,NaN,서울특별시 송파구 송이로 19,NaN,1,NaN,127.116361,37.503378
489868,MA010120220808716142,지에스25강동,NaN,G2,소매,G204,종합 소매,G20405,편의점,G47122,...,622.0,NaN,1174010800100780010006592,케이디빌딩,서울특별시 강동구 올림픽로 622,NaN,NaN,NaN,127.123174,37.536903
489869,MA010120220806734217,런베이,NaN,S2,수리·개인,S203,자동차 수리·세차,S20302,자동차 세차장,S95213,...,31.0,NaN,1147010100102080010000365,이엠피빌딩,서울특별시 양천구 목동남로4길 31,NaN,1,NaN,126.866017,37.509097
489870,MA010120220806779253,북카페,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,13.0,NaN,1123010200100290003038276,용두문화복지센터,서울특별시 동대문구 고산자로28길 13,NaN,2,NaN,127.039129,37.575300
489871,MA010120220809735562,봉구비어난곡,NaN,I2,음식,I211,주점,I21103,생맥주 전문,I56213,...,4.0,3.0,1162010200114750018000001,경의빌딩,서울특별시 관악구 난곡로57길 4-3,NaN,1,NaN,126.914512,37.479827

In [44]:
data[(data['상권업종대분류명'] != '음식')|(data['상권업종소분류명']=='카페')]

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
1,MA010120220805430763,카페숲,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1154510300109290010016890,NaN,서울특별시 금천구 시흥대로40길 129,153860,8647,NaN,1,NaN,126.909939,37.446689
2,MA010120220805430969,다이앤,NaN,G2,소매,G209,섬유·의복·신발 소매,G20902,여성 의류 소매업,G47412,...,1114016200107750000009546,제일평화시장,서울특별시 중구 마장로 13,100837,4567,NaN,1,NaN,127.011381,37.568503
4,MA010120220805431191,맑은에스테틱,NaN,S2,수리·개인,S208,욕탕·신체관리,S20802,마사지/안마,S96122,...,1121510500100480053015378,NaN,서울특별시 광진구 뚝섬로32길 33,143843,5085,NaN,1,NaN,127.066814,37.534047
6,MA010120220805431833,송금당,NaN,G2,소매,G217,시계·귀금속 소매,G21701,시계/귀금속 소매업,G47830,...,1165010200102900009003111,NaN,서울특별시 서초구 동산로 75,137895,6781,NaN,1,NaN,127.046844,37.472643
7,MA010120220805432185,한스31,NaN,G2,소매,G209,섬유·의복·신발 소매,G20902,여성 의류 소매업,G47412,...,1114011500100090009000003,가로판매대53,서울특별시 중구 남대문로 65-2,100070,4532,NaN,NaN,NaN,126.981727,37.563205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489863,MA010120220800434291,씨유대림우성점,NaN,G2,소매,G204,종합 소매,G20405,편의점,G47122,...,1156013300108450014004804,송서빌딩,서울특별시 영등포구 도림로 188-1,150818,7422,NaN,1,NaN,126.902009,37.495894
489867,MA010120220804254954,모아모아세탁,NaN,S2,수리·개인,S209,세탁,S20901,세탁소,S96912,...,1171010400101630001011783,NaN,서울특별시 송파구 송이로 19,138853,5672,NaN,1,NaN,127.116361,37.503378
489868,MA010120220808716142,지에스25강동,NaN,G2,소매,G204,종합 소매,G20405,편의점,G47122,...,1174010800100780010006592,케이디빌딩,서울특별시 강동구 올림픽로 622,134840,5378,NaN,NaN,NaN,127.123174,37.536903
489869,MA010120220806734217,런베이,NaN,S2,수리·개인,S203,자동차 수리·세차,S20302,자동차 세차장,S95213,...,1147010100102080010000365,이엠피빌딩,서울특별시 양천구 목동남로4길 31,158851,8101,NaN,1,NaN,126.866017,37.509097
489870,MA010120220806779253,북카페,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1123010200100290003038276,용두문화복지센터,서울특별시 동대문구 고산자로28길 13,130817,2565,NaN,2,NaN,127.039129,37.575300

In [12]:
import seaborn as sns

In [13]:
iris = sns.load_dataset('iris')

In [14]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [28]:
iris.iloc[3:10].iloc[1:4]

   sepal_length  sepal_width  petal_length  petal_width species
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [35]:
iris.at[3,'sepal_width']

3.1

In [37]:
iris.iat[3,3] = 1

0.2

In [38]:
iris.iloc[3:10,1:3] = 1

In [39]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          1.0           1.0          0.2     setosa
4             5.0          1.0           1.0          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [23]:
tips = sns.load_dataset('tips')

In [25]:
tips.size

1708